<app-navbar></app-navbar>
<div class="main-component-content">

  <!-- Default form register -->
  <form [formGroup]="registerForm" class="text-center border border-light p-5">

    <p class="h4 mb-4">Edycja hasła</p>

    <div class="md-form">
      <input mdbInput disabled type="text" id="firstName" class="form-control" formControlName="firstName" [(ngModel)]="initNurseModel.firstName">
      <label for="firstName">{{'firstName' | translate}}</label>
    </div>

    <div class="md-form">
      <input mdbInput disabled type="text" id="lastName" class="form-control" formControlName="lastName" [(ngModel)]="initNurseModel.lastName">
      <label for="lastName">{{'lastName' | translate}}</label>
    </div>


    <!-- E-mail -->
    <div class="md-form">
      <input mdbInput disabled type="text" id="email" class="form-control" formControlName="email" [(ngModel)]="initNurseModel.userLoginDataEntity.email">
      <label for="email">Email</label>
    </div>


    <div class="md-form">
      <input mdbInput mdbValidate type="password" id="password" class="form-control" formControlName="password">
      <label for="password">Wpisz nowe hasło</label>
      <mdb-error *ngIf="f.password.errors && f.password.errors.minlength && (f.password.dirty || f.password.touched)">Niewystarczająca ilość znaków</mdb-error>
      <mdb-success *ngIf="f.password.valid && (f.password.dirty || f.password.touched)"></mdb-success>
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate type="password" id="passwordRepeated" class="form-control" formControlName="passwordRepeated">
      <label for="passwordRepeated">Powtórz nowe hasło</label>
      <mdb-error *ngIf="f.passwordRepeated.errors && f.passwordRepeated.errors.minlength && (f.passwordRepeated.dirty || f.passwordRepeated.touched)">Niewystarczająca ilość znaków</mdb-error>
      <mdb-success *ngIf="f.passwordRepeated.valid && (f.passwordRepeated.dirty || f.passwordRepeated.touched)"></mdb-success>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="sendForm()">Edytuj</button>

  </form>
</div>
